.show-mobile {
	display: block;
}

.show-desktop {
	display: none;
}

body {
}


/*navigation*/
	/*Don't change anything here unless you run into problems with spacing on section links*/
	.navbar {
	 margin-bottom: 50px;
	 color: black;
	 background-color: #fff;
	 text-align: center;

	}

	.navbar-brand {
	  font-size: 24px;
	  color: white;
	  font-weight: bold;
	  padding-left: 1em;
	  text-align: center;

	}

	.navbar-headline {
		text-align: center;
	}


	nav{
		margin-bottom: 500px;
		text-align: center;
	}
	
	
	#bs-example-navbar-collapse-1 ul{
		font-family: 'lato', serif;
		text-align: center;
		margin-top: 0 auto;
	}

	ul.navbar-nav{
		text-align: center;
	}

	ul.navbar-nav li{
		display: inline-block;
		text-align: center;
	}

	.navbar-headline-mobile {
		font-family: 'lato', serif;
		text-decoration: none;
		text-align: center;
		margin-left: -3em;
		width: 100%;
		line-height: 50px;
	}

	.nav-headline{
		text-align: center;
		font-size: 1.5em;
		line-height: 50px;


	}

	#bs-example-navbar-collapse-1 li .nav-headline{
		font-family: 'lato', serif;
		text-decoration: none;
		text-align: center;
		width: 100%;
		line-height: 50px;

	}

.workimg {
	width: 100%;
	height: auto;
	border: .5px black solid;
	margin-bottom: 1em;
}

p {
	margin-bottom: 3em;
}

.header {
	width: 100%;
	height: auto;
	margin-top: 10em;
	margin-bottom: 5em;
}

.menuimg {
	width: 40px; 
	height: auto;
	padding-right: 10px;
}


/* Medium devices (desktops, 960px and up) */
@media (min-width:600px) { 
/*navbar*/
	.navbar-headline-mobile {
		display: none;
	}
.show-mobile {
	display: none;
}

.show-desktop {
	display: block;
}



}
/*Intro and header */
